
<div class="form-container">
  <h1>Editar Data Center</h1>

<form>

  <div class="form-group">
    <label for="nombreDataCenter"> Nombre Data Center</label>
    <input type="text" [(ngModel)]="nombreDataCenter" [ngModelOptions]="{standalone: true}" class="form-control" id="nombreDataCenter" placeholder="Ingrese nombre data center">

  </div>

  <div class="form-group">
    <label for="idDataCenter"> ID Data Center</label>
    <input type="text" [(ngModel)]="idDataCenter" [ngModelOptions]="{standalone: true}" class="form-control" id="idDataCenter" placeholder="Ingrese el id del data center">

  </div>

  <div class="form-group">
    <label for="departamentoDataCenter">Departamento de Data Center</label>
     <input type="text" [(ngModel)]="departamentoDataCenter" [ngModelOptions]="{standalone: true}" class="form-control" id="departamentoDataCenter" placeholder="Ingrese el departamento">

  </div>

  <div class="form-group">
    <label for="direccion"> Direccion de Data Center</label>
     <input type="text" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}" class="form-control" id="direccion" placeholder="Ingrese la direccion de data center">

  </div>

  <div class="form-group">
    <label for="elementos"> Elementos Data Center</label>
     <input type="text" [(ngModel)]="elementos" [ngModelOptions]="{standalone: true}" class="form-control" id="elementos" placeholder="Ingrese elementos de data center">

  </div>

     <button type="button" class="btn-registrar" (click)="editarDataCenter()">Enviar</button>

</form>

