
<div class="form-container">
  <h1>Registrar Data Center</h1>

<form>

  <div class="form-group">
    <label for="nombreDataCenter"> Nombre Data Center</label>
    <input type="text" [(ngModel)]="nombreDataCenter" [ngModelOptions]="{standalone: true}" class="form-control" id="nombreDataCenter" placeholder="">

  </div>

  <div class="form-group">
    <label for="idDataCenter"> ID Data Center</label>
    <input type="text" [(ngModel)]="idDataCenter" [ngModelOptions]="{standalone: true}" class="form-control" id="idDataCenter" placeholder="">

  </div>

  <div class="form-group">
    <label for="departamentoDataCenter">Departamento de Data Center</label>
     <input type="text" [(ngModel)]="departamentoDataCenter" [ngModelOptions]="{standalone: true}" class="form-control" id="departamentoDataCenter" placeholder="">

  </div>

  <div class="form-group">
    <label for="direccion"> Direccion de Data Center</label>
     <input type="text" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}" class="form-control" id="direccion" placeholder="">

  </div>

  <div class="form-group">
    <label for="elementos"> Elementos Data Center</label>
     <input type="text" [(ngModel)]="elementos" [ngModelOptions]="{standalone: true}" class="form-control" id="elementos" placeholder="">

  </div>

     <button type="submit" class="btn-registrar" (click)="register()">Enviar</button>

</form>
