

<div class="form-container">



  <div class="row">
      <div class="col-md-3 ">
      </div>
      <div class="col-md-9 ">

              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                  <div class="row register-form">
                    <h1 class="register-heading">Registrar Ventana de Mantenimiento</h1>
                      <div class="col-md-6">

                        <div class="form-group">
                          <label for="nombreDataCenter"> Nombre Data Center</label>
                          <input type="text" [(ngModel)]="nombreDataCenter" [ngModelOptions]="{standalone: true}" class="form-control" id="nombreDataCenter" placeholder="">
                        </div>

                        <div class="form-group">
                          <label for="idDataCenter"> ID Data Center</label>
                          <input type="text" [(ngModel)]="idDataCenter" [ngModelOptions]="{standalone: true}" class="form-control" id="idDataCenter" placeholder="">
                        </div>
                        <div class="form-group">
                          <label for="usuarioIngresoVM">Usuario</label>
                          <input type="text" [(ngModel)]="usuarioIngresoVM" [ngModelOptions]="{standalone: true}" class="form-control" id="usuarioIngresoVM" placeholder="">

                        </div>

                        <div class="form-group">
                          <label for="tipoMantenimiento">Tipo de mantenimiento</label>
                           <input type="text" [(ngModel)]="tipoMantenimiento" [ngModelOptions]="{standalone: true}" class="form-control" id="tipoMantenimiento" placeholder="">

                        </div>

                        <div class="form-group">
                          <label for="fechaInicio">Fecha inicio actividad</label>
                           <input type="text" [(ngModel)]="fechaInicio" [ngModelOptions]="{standalone: true}" class="form-control" id="fechaInicio" placeholder="">

                        </div>

                        <div class="form-group">
                          <label for="fechaFin"> Fecha fin de actividad</label>
                           <input type="text" [(ngModel)]="fechaFin" [ngModelOptions]="{standalone: true}" class="form-control" id="fechaFin" placeholder="">

                        </div>
                      </div>

                      <div class="col-md-6">

                        <div class="form-group">
                          <label for="horaInicio"> Hora inicio de actividad</label>
                           <input type="text" [(ngModel)]="horaInicio" [ngModelOptions]="{standalone: true}" class="form-control" id="horaInicio" placeholder="">

                        </div>

                        <div class="form-group">
                          <label for="horaFin"> Hora fin de actividad</label>
                           <input type="text" [(ngModel)]="horaFin" [ngModelOptions]="{standalone: true}" class="form-control" id="horaFin" placeholder="">

                        </div>

                        <div class="form-group">
                          <label for="justificacionDeActividad">Justificacion actividad</label>
                           <input type="text" [(ngModel)]="justificacionDeActividad" [ngModelOptions]="{standalone: true}" class="form-control" id="justificacionDeActividad" placeholder="">

                        </div>

                        <div class="form-group">
                          <label for="rda">RDA</label>
                           <input type="text" [(ngModel)]="rda" [ngModelOptions]="{standalone: true}" class="form-control" id="rda" placeholder="">

                        </div>

                        <div class="form-group">
                          <label for="estadoDeSolicitud"> Estado de solicitud</label>
                           <input type="text" [(ngModel)]="estadoDeSolicitud" [ngModelOptions]="{standalone: true}" class="form-control" id="estadoDeSolicitud" placeholder="Abierto">

                        </div>
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn-registrar" (click)="registerr()">Enviar</button>
      </div>
  </div>


</div>

